.text-input {
  display: flex;
  align-items: center;
  gap: 4px;
}

.text-input>input {
  height: calc(var(--space-medium) * 2);
  flex: 1;

  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: var(--space-smallest) solid var(--color-text);
}

.text-input>input:focus-visible {
  border-color: var(--color-primary-base);
}
