@import url("./variables.css");

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px none;
}

/**
 * Layout
 **/

.surface {
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--space-largest);
  right: var(--space-largest);
  margin: auto;
  height: max-content;
  max-width: var(--surface-maxWidth);

  display: flex;

  color: var(--color-text);
  background-color: var(--color-primary-bg);
  border-radius: var(--surface-borderRadius);
  overflow: hidden;
  box-shadow: var(--surface-shadow);

  padding: 6px;
}

.surface>img {
  height: var(--picture-height);
  width: var(--picture-width);
  object-fit: cover;
  display: var(--display-image);
}

.surface>main {
  width: calc(100% - var(--picture-width));
  padding: var(--space-large);
  flex: 1;
  background-color: var(--color-bg-surface);
  border-radius: 26px;

  display: flex;
  flex-direction: column;
  box-shadow: var(--surface-inner-shadow);
}

/**
 * Title
 **/

.surface>main>h1 {
  color: var(--color-primary-fg);
  font-size: var(--space-large);
  font-weight: 500;
  margin: 0 0 var(--space-large) 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
