:root {
  /** colors */
  --color-bg-shade: #2e3440;
  --color-bg-base: #292E39;
  --color-bg-surface: #2e3440;
  --color-bg-highlight: #434c5e;
  --color-text: #d8dee9;
  --color-primary-bg: #5d80ab;
  --color-primary-base: #5e81ac;
  --color-primary-fg: #B6C6D9;
  --color-secondary-bg: #34475f;
  --color-secondary-base: #5e81ac;
  --color-secondary-fg: #81a1c1;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;

  /** general */
  --font-family: Quicksand;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 800px;
  --surface-borderRadius: 2rem;
  --surface-shadow: 16px 16px 0px rgb(52, 71, 95);

  --shadow-color: 214deg 31% 30%;
  --surface-inner-shadow:
    1px 0px 1.1px hsl(var(--shadow-color) / 0.5),
    3.3px 0px 3.7px -0.8px hsl(var(--shadow-color) / 0.5),
    8.2px 0px 9.2px -1.7px hsl(var(--shadow-color) / 0.5),
    20px 0.1px 22.5px -2.5px hsl(var(--shadow-color) / 0.5);

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-height: 17rem;
  --picture-width: 13rem;
  --group-count: 4;
  
}
