a.link {
  display: block;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  outline: none;
}

a.link:hover,
a.link:focus-visible {
  color: var(--color-primary-fg);
}

a.link:hover::before,
a.link:focus-visible::before {
  content: ">";
  position: absolute;
  left: -0.75rem;
}
